.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 70px 0;
}

.title {
  color: #58a6ff;
  font-size: 2.25rem;
  font-family: "Courier New", monospace;
  padding-bottom: 20px;
}

.content {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 20px;
}

.link {
  color: #58a6ff;
}

.imgContainer {
  text-align: center;
}

.img {
  border-radius: 100%;
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 90%;
  }
}
